@media (max-width:480px){
    


    .header-mobile{
        display: none;
    }

    .dropdown{
        display: block;
        margin: 5px 0 0 20px;
    }

    .container-text{
        padding: 0 20px;
    }

    #inicio{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-img{
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }

    .container-img img{
        width: 100%;
    }

    .tittle{
        width: 100%;
    }

    .cards{
        display: flex;
        align-items: center;
    }

    .card{
        width: 80%;
        margin: 0;
    }

    #sobre{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .sobre-img img{
        width: 100%;
    }

    .sobre-text{
        width: 90%;
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}